{{set . "title" "Home"}}
{{template "header.html" .}}


<form method="POST" action="{{url "Calc.Somar"}}">
  <table>
    <th>
      <td colspan="5">CALCULADORA</td>
    </th>
    <tr>
        <td colspan="2">
          {{with $total := field "total" .}}
            <input name="{{$total.Name}}" value = "{{$total.Value}}" readonly="readonly" style="width:30px;">
          {{end}}
        </td>
      {{with $valor := field "valor" .}}
        <td colspan="3"><input type="text" name ="{{$valor.Name}}" value = "{{$valor.Value}}" style="width:50px;"></td>
      {{end}}
    </tr>
  </table>
  <input type="submit" value="Soma">
</form>

{{template "footer.html" .}}
